<timer [timer]="timer"></timer>
<mat-horizontal-stepper>
    <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step [editable]="true" *ngFor="let question of (brick | async)?.questions; let index = index">
        <question [question]="question" ></question>
        <br>
        <div class="begin-row" style="padding-bottom: 85px;" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="1 0 0"></div>
            <ng-container *ngIf="index === (brick | async)?.questions.length - 1; else  next_button">
                <p class="begin-label">Finished - If you are done you are done</p>
                <a mat-fab class="fab-bottom" (click)="finishBrick()"><mat-icon>play_arrow</mat-icon></a>
            </ng-container>
            <ng-template #next_button>
                <p class="begin-label">Next - Don't panic, you can always come back</p>
                <button class="fab-bottom" mat-fab mat-button matStepperNext><mat-icon>play_arrow</mat-icon></button>
            </ng-template>
        </div>
    </mat-step>
</mat-horizontal-stepper>
