<timer [timer]="timer" [isRed]="true"></timer>
<mat-horizontal-stepper #stepper>
    <ng-template matStepperIcon="number" let-index="index">
        <ng-container *ngIf="index < 20">
            <span [ngClass]="'icon-raw-blue-' + (index + 1)"></span>
        </ng-container>
    </ng-template>
    <mat-step [editable]="true" *ngFor="let question of (brick | async)?.questions; let index = index">
        <!-- TODO: #209 suggestion - hiding these buttons until we decide what to do with them. <div style="height: 100%; flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items: center;">
            <a mat-fab (click)="scrollLeft()" style="margin: 10px" title="scroll questions left"><mat-icon>navigate_before</mat-icon></a>
            <a mat-fab (click)="scrollRigth()" style="margin: 10px" title="scroll questions right"><mat-icon>navigate_next</mat-icon></a>
        </div>
        -->
        <question [question]="question" ></question>
        <br>
        <div class="begin-row" style="padding-bottom: 85px;" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="1 0 0"></div>
            <ng-container *ngIf="index === (brick | async)?.questions.length - 1; else  next_button">
                <p class="begin-label">Finished - If you are done you are done</p>
                <button mat-fab class="fab-bottom icobutton" (click)="finishBrick()"><mat-icon>play_arrow</mat-icon></button>
            </ng-container>
            <ng-template #next_button>
                <p class="begin-label">Next - Don't panic, you can always come back</p>
                <button class="fab-bottom icobutton" mat-fab mat-button (click)="goForward(stepper)"><mat-icon>play_arrow</mat-icon></button>
            </ng-template>
        </div>
    </mat-step>
</mat-horizontal-stepper>
