<!DOCTYPE html>
<html>
<head>
    <style>
        div.logo {
            text-align: center;
        }
    </style>
</head>
<body style="background: #111F33">
    <div class="logo">
        <img _ngcontent-c0="" alt="lol" src="/assets/lflogo.png">
        <p style="color: #0076B4; font: 700 32px/48px Montserrat;">Learning Fortress</p>
        <p style="color: white; font: 700 32px/48px Montserrat;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut.</p>
        <img _ngcontent-c0="" alt="lol" src="/assets/brillder-2-logo.png" style="width:300px; margin-top: 20px">
    </div>
</body>
</html>
