<!DOCTYPE html>
<html>
<head>
    <style>
        div.logo {
            text-align: center;
        }
    </style>
</head>
<body style="background: #111F33">
    <div class="logo">
        <img _ngcontent-c0="" alt="lol" src="/lflogo.png">
        <p style="color: #0076B4; font: 700 32px/48px Montserrat;">Learning Fortress</p>
        <p style="color: white; font: 700 32px/48px Montserrat;">It looks like you are using an older browser, try downloading the latest Chrome or Firefox and come back</p>
        <img _ngcontent-c0="" alt="lol" src="/brillder-2-logo.png" style="width:300px; margin-top: 20px">
    </div>
</body>
</html>
